body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.problems{
  color: red;
}

.dummyButton{
  padding : 10px 20px;
  font-size: 20px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
}

.welcome{
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.top{
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.container{
  text-align: center;
  display: flex;
  align-items: center;
}

.left-col{
  width: 50%;
  height: 100vh;
  background-color: black;
  color: white;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.right-col{
  width: 50%;
  height: 100vh;
  justify-content: center;
  color: black;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;

}

.content-container{
  display: flex;
}

.content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.dom{
  padding: 0.8rem;
  background-color: #FFD554;
  color: black;
  border-radius: 1rem;
  margin: 0.5rem;
  width: 8rem;
  height:2rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-border{
  background-color: #5D5FEF;
  border: 4px solid #FFD554;
  color: #FFD554;
  font-weight: bold;
}

.icon{
  width: 70px;
  height: auto;
}

.welcome-header{
  display: flex;
  gap: 1rem;
  color: #00FFAB;
  align-items: center;
  height: 5rem;
}

.right-header{
  height: 5rem;
}

.flex-element{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  justify-content: center;
}

.btn-pre, .btn-next{
  background-color: #5D5FEF;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
justify-content: center;
}

.triangle{
  border-width: 0.7rem 1rem 0.7rem 0;
	border-color: transparent #FFD554 transparent transparent;
	border-style: solid;
}

.triangle-rotate{
  border-width: 0.7rem 0rem 0.7rem 1rem ;
	border-color: transparent transparent transparent #FFD554;
	border-style: solid;
}

.page-tag{
background-color: lightgrey;
height: 1em;
padding: 0.5rem;
color: #5D5FEF;
}

.btn-explain{
  background-color: #5D5FEF;
  border: 4px solid lightgrey;
  color: white;
  border-radius: 1em;
  padding:  1rem 3rem;
  font-size: larger;
  font-weight: bold;
}

.btn-explain h2{
  margin-block-start: 0.25em;  
  margin-block-end: 0.25em;   
}

.flex-element{
  justify-content: flex-end;
}


.arrow-instruction{
  text-align: center;
  top: 0;
  left: 50%;
  z-index: 100;
}

.sticky{
  position: fixed;
  top: 30%;
  left: 0;
  width: 100%;
  z-index:99;
}

.description{
  padding-top: 2rem;
  color: #FFD554;
  text-align: left;
  align-items: center;
}